body {
    background-image: url("https://images.pexels.com/photos/544249/pexels-photo-544249.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: black;
    text-align: center; 
    font-size: 4em;
}

.header {
    display: block;
    margin:10em auto;
    width: 30em;
    height: 15em;
    background-color:rgb(255,255,255, 0.8) ;
    border: 1px solid grey;
    border-radius: 1em;
}

p {
    text-align: center;
    margin-top: 2em;
}

.pictures {
    text-align: center;
    margin-top:4em;
    padding: 2em;
   
}

img {
    border: 1px solid grey; 
    border-radius: 1em;    
    margin: 0 1em;
    transition: all 1000ms ease-in-out;
}

img:hover {
    transform: scale(1.5);   
    border: 3px solid grey;
}

.img1 {
    transform:  rotateX(138deg) rotateY(192deg) rotateZ(135deg) scale(1.46, 1.69) translate(100px, 0px);
}

.img2 {
    transform:  rotateX(105deg) rotateY(158deg) rotateZ(183deg) scale(0.81, 3) skew(15deg, 43deg) translate(-63px, 0px);
}

.img3 {
    transform:  rotateX(171deg) rotateY(160deg) rotateZ(164deg) scale(1.27, 1.31) translate(-45px, 54px);
}

.img4 {
    transform:  rotateX(219deg) rotateY(217deg) rotateZ(188deg) scale(2.19, 1.31) skew(41deg, 0deg) translate(-53px, 100px);
}

.img5 {
    transform:  rotateX(57deg) rotateY(164deg) rotateZ(266deg) scale(2.19, 1.31) skew(0deg, 7deg) translate(100px, 17px);
}

.img6{
    transform:  rotateX(57deg) rotateY(306deg) rotateZ(16deg) scale(1.89, 2.86) skew(0deg, 19deg) translate(-100px, 69px);
}